<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>orbit.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>orbit.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightDataServlet</servlet-name>
        <servlet-class>orbit.FlightDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightListServlet</servlet-name>
        <servlet-class>orbit.FlightListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AirportCodeServlet</servlet-name>
        <servlet-class>orbit.AirportCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeReservationServlet</servlet-name>
        <servlet-class>orbit.MakeReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddEmployeeServlet</servlet-name>
        <servlet-class>orbit.ManagerAddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDeleteEmployeeServlet</servlet-name>
        <servlet-class>orbit.ManagerDeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSalesReportServlet</servlet-name>
        <servlet-class>orbit.ManagerSalesReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAllFlightsServlet</servlet-name>
        <servlet-class>orbit.ManagerAllFlightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFlightsForAirportServlet</servlet-name>
        <servlet-class>orbit.ManagerFlightsForAirportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerMostActiveFlightsServlet</servlet-name>
        <servlet-class>orbit.ManagerMostActiveFlightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOnTimeFlightsServlet</servlet-name>
        <servlet-class>orbit.ManagerOnTimeFlightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDelayedFlightsServlet</servlet-name>
        <servlet-class>orbit.ManagerDelayedFlightsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerListReservationsByFlightNoServlet</servlet-name>
        <servlet-class>orbit.ManagerListReservationsByFlightNoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerListReservationsByCustomerServlet</servlet-name>
        <servlet-class>orbit.ManagerListReservationsByCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCustomerSeatListServlet</servlet-name>
        <servlet-class>orbit.ManagerCustomerSeatListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRevenueByFlightServlet</servlet-name>
        <servlet-class>orbit.ManagerRevenueByFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerListAllReservationsServlet</servlet-name>
        <servlet-class>orbit.ManagerListAllReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRevenueByDestinationServlet</servlet-name>
        <servlet-class>orbit.ManagerRevenueByDestinationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRevenueByCustomerServlet</servlet-name>
        <servlet-class>orbit.ManagerRevenueByCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFindMaxCustRepRevenueServlet</servlet-name>
        <servlet-class>orbit.ManagerFindMaxCustRepRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerFindMaxCustomerRevenueServlet</servlet-name>
        <servlet-class>orbit.ManagerFindMaxCustomerRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepAddCustomerServlet</servlet-name>
        <servlet-class>orbit.CustomerRepAddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepUpdateCustomerServlet</servlet-name>
        <servlet-class>orbit.CustomerRepUpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepDeleteCustomerServlet</servlet-name>
        <servlet-class>orbit.CustomerRepDeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepCustomerMailingListsServlet</servlet-name>
        <servlet-class>orbit.CustomerRepCustomerMailingListsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightSuggestionsServlet</servlet-name>
        <servlet-class>orbit.FlightSuggestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCancelReservationServlet</servlet-name>
        <servlet-class>orbit.CustomerCancelReservationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerTravelItineraryServlet</servlet-name>
        <servlet-class>orbit.CustomerTravelItineraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCurrentBidServlet</servlet-name>
        <servlet-class>orbit.CustomerCurrentBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBidHistoryServlet</servlet-name>
        <servlet-class>orbit.CustomerBidHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerReservationHistoryServlet</servlet-name>
        <servlet-class>orbit.CustomerReservationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBestSellerFlightListServlet</servlet-name>
        <servlet-class>orbit.CustomerBestSellerFlightListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepViewPendingBidsServlet</servlet-name>
        <servlet-class>orbit.CustomerRepViewPendingBidsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRepApproveOrDenyBidsServlet</servlet-name>
        <servlet-class>orbit.CustomerRepApproveOrDenyBidsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerPlaceBidServlet</servlet-name>
        <servlet-class>orbit.CustomerPlaceBidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUpdateEmployeeServlet</servlet-name>
        <servlet-class>orbit.ManagerUpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCurrentReservationsServlet</servlet-name>
        <servlet-class>orbit.CustomerCurrentReservationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHiddenFareServlet</servlet-name>
        <servlet-class>orbit.ShowHiddenFareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerViewAvailableAuctionsServlet</servlet-name>
        <servlet-class>orbit.CustomerViewAvailableAuctionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightDataServlet</servlet-name>
        <url-pattern>/flightdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightListServlet</servlet-name>
        <url-pattern>/flightlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AirportCodeServlet</servlet-name>
        <url-pattern>/airportcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeReservationServlet</servlet-name>
        <url-pattern>/makeReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddEmployeeServlet</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDeleteEmployeeServlet</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSalesReportServlet</servlet-name>
        <url-pattern>/salesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAllFlightsServlet</servlet-name>
        <url-pattern>/allFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFlightsForAirportServlet</servlet-name>
        <url-pattern>/flightsForAirport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerMostActiveFlightsServlet</servlet-name>
        <url-pattern>/mostActiveFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOnTimeFlightsServlet</servlet-name>
        <url-pattern>/onTimeFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDelayedFlightsServlet</servlet-name>
        <url-pattern>/delayedFlights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListReservationsByFlightNoServlet</servlet-name>
        <url-pattern>/listReservationsByFlightNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListReservationsByCustomerServlet</servlet-name>
        <url-pattern>/listReservationsByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCustomerSeatListServlet</servlet-name>
        <url-pattern>/customerSeatList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRevenueByFlightServlet</servlet-name>
        <url-pattern>/revenueByFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListAllReservationsServlet</servlet-name>
        <url-pattern>/listAllReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRevenueByDestinationServlet</servlet-name>
        <url-pattern>/revenueByDestination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRevenueByCustomerServlet</servlet-name>
        <url-pattern>/revenueByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFindMaxCustRepRevenueServlet</servlet-name>
        <url-pattern>/findMaxCustRepRevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerFindMaxCustomerRevenueServlet</servlet-name>
        <url-pattern>/findMaxCustomerRevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepAddCustomerServlet</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepUpdateCustomerServlet</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepDeleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepCustomerMailingListsServlet</servlet-name>
        <url-pattern>/customerMailingLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightSuggestionsServlet</servlet-name>
        <url-pattern>/flightSuggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCancelReservationServlet</servlet-name>
        <url-pattern>/cancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerTravelItineraryServlet</servlet-name>
        <url-pattern>/travelItinerary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCurrentBidServlet</servlet-name>
        <url-pattern>/currentBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBidHistoryServlet</servlet-name>
        <url-pattern>/bidHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerReservationHistoryServlet</servlet-name>
        <url-pattern>/reservationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBestSellerFlightListServlet</servlet-name>
        <url-pattern>/bestSellerFlightList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepViewPendingBidsServlet</servlet-name>
        <url-pattern>/viewPendingBids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRepApproveOrDenyBidsServlet</servlet-name>
        <url-pattern>/approveOrDenyBids</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPlaceBidServlet</servlet-name>
        <url-pattern>/placeBid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUpdateEmployeeServlet</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCurrentReservationsServlet</servlet-name>
        <url-pattern>/currentReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHiddenFareServlet</servlet-name>
        <url-pattern>/showHiddenFare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerViewAvailableAuctionsServlet</servlet-name>
        <url-pattern>/viewAvailableAuctions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
